body{
/* font-family: Arial, Helvetica, sans-serif; */
font-family: 'IBM Plex Mono', monospace;
font-family: 'Playfair Display', serif;
color: white;
}

h1{
  font-size: 70pt;
  margin-bottom: 0px;
  color: black;
  margin-top: 0;
  font-weight: normal;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

a{
  text-decoration: none; 
  color: black; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.spacingabovelab{
  margin-top: 27vh;
}

ul{
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none;
    color: black;
  
}
a:hover {
  color:rgb(176, 171, 171);
  background-color: transparent;
  text-decoration: none;
  }

  .tilt{
    transform: rotate(-20deg);
    float: right;
  }
.canoverlap{
  position: relative;
}
.marginsaboveandbelowstudio{
  margin-top: -85px;
  margin-bottom: 50px;
}